<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Launch Page</title>

	<meta name="author" content="" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->
	<link href="../static/launch.css" rel="stylesheet">

</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink">Project Logo</a></h1>
		</div>
        <div id="content">
			<h2>Coming Soon</h2>
        </div>
		<div id="footer">
			<p>
				<p>&copy; Goan Tiatr 2017</p>
			</p>
		</div>
	</div>
</body>
</html>